
// css pour le link de la navbar
.toggleform {

  &:hover {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
  }
}

// css pour la banner
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.gamecard {
  padding: 24px;
  flex: 1 0 calc(25% - 48px);
  max-width: calc(25% - 48px);
  background-color: white;
  margin: 24px;
  border-radius: 12px;

  .img-card {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  h4 {
    font-weight: 700;
  }

  &:hover {
    border: 1px solid rgb(164, 164, 164);
  }
}
