<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4691567/pexels-photo-4691567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Explorez le monde des jeux de société<br>près de chez vous !</h1></h1>
    <p>Louez une variété de jeux pour tous les goûts et offrez-vous un moment de partage avec vos proches.</p>
    <a class="btn btn-primary" href="#">Découvrir</a>
  </div>
</div>
