.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin: 0;
  padding: 0;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
}


.labelnav {

    height: 48px;

    .inputnav {
      width: 300px;
      border-color: #F4F4F4;
      background-image: none;
    }
}

.labelsearch {

  .inputnav {
    width: 300px;
  }
}
