.owner {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px #bcbcbc solid;
  margin: 10px 0px;
  p {
    margin-bottom: 0px;
    font-size: 14px;
    color: grey;
  }
}

.proprietaire {
  padding-left: 20px;
}

.font-weight {
  font-weight: bold;
  color: black;
}
